*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --background: #f1f1f1;
  --placeholder-color: #272727;

  --company-text-color: rgba(255, 255, 255, 0.8);
  --advantages-item-bg: rgba(17, 19, 23, 0.5);
  --advantages-item-border: #4e4e4e;

  --hero-bg: url('../assets/images/light-hero-bg.svg');
  --theme-img: url('../assets/images/sun.svg');
  --border: 1px solid transparent;
  --moon-img: url('../assets/images/moon.svg');
  --svg-filter: '#000';
  --header-bg: rgba(23, 25, 29, 0.1);

}

.dark {
  --white-color: #000;
  --black-color: #fff;
  --background: #1e1e1e;
  --placeholder-color: #aaa;

  --company-text-color: rgba(0, 0, 0, 0.8);
  --advantages-item-bg: rgba(243, 243, 243, 0.5);
  --advantages-item-border: #999999;

  --hero-bg: url('../assets/images/dark-hero-bg.svg');
  --theme-img: url('../assets/images/light-moon.svg');
  --border: 1px solid #aaa;
  --moon-img: url('../assets/images/light-moon.svg');
  --svg-filter: invert(100%);
  --header-bg: rgba(23, 25, 29, 0.9);

}

body {
  display: flex;
  min-height: 100vh;
  flex-flow: wrap column;
  background-image: url("../assets/images/main\ page.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background);
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.3s ease;
}