*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --background: #f1f1f1;
  --placeholder-color: #272727;
  --hero-bg: url('../assets/images/light-hero-bg.svg');
  --theme-img: url('../assets/images/sun.svg');
  --border: 1px solid transparent;
  --moon-img: url('../assets/images/moon.svg');
  --svg-filter: '#000';
  --header-bg: rgba(23, 25, 29, 0.1);
}

.dark {
  --white-color: #000;
  --black-color: #fff;
  --background: #1e1e1e;
  --placeholder-color: #aaa;
  --hero-bg: url('../assets/images/dark-hero-bg.svg');
  --theme-img: url('../assets/images/light-moon.svg');
  --border: 1px solid #aaa;
  --moon-img: url('../assets/images/light-moon.svg');
  --svg-filter: invert(100%);
  --header-bg: rgba(23, 25, 29, 0.9);
}

body {
  display: flex;
  min-height: 100vh;
  flex-flow: wrap column;
  background-color: var(--background);
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.3s ease;
}