$linear-btn-bg: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
$linear-num: linear-gradient(96.96deg, rgba(0, 40, 248, 0.89) -0.76%, #6911AD 100%);
$icon-color: #6911AD;
$white: #fff;
$dark: #000;

$border-radius-20: 20px;
$border-radius-round: 50%;
$border-radius-60: 60px;