.form {
  width: 100%;
  position: relative;
  padding-bottom: 120px;
  &__main {
  }
  &__inner {
    display: flex;
    padding: 60px 80px;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(1px);
    border: 1px solid #4e4e4e;
    justify-content: space-between;
    background: rgba(14, 16, 20, 0.9);
  }
  &__left {
    width: 100%;
    max-width: 650px;
  }
  &__title {
    width: 100%;
    font-size: 32px;
    max-width: 645px;
    font-weight: 600;
    line-height: 39px;
    font-style: italic;
    margin-bottom: 40px;
    color: var(--white-color);
    font-family: "Proxima Nova";
  }
  &__form {
    width: 100%;
  }
  &__input {
    width: 100%;
    outline: none;
    color: #aaaa;
    font-size: 17px;
    max-width: 500px;
    font-weight: 400;
    line-height: 21px;
    padding-right: 2px;
    margin-bottom: 25px;
    padding-bottom: 8px;
    border: 1px solid transparent;
    background-color: transparent;
    border-bottom: 1px solid #aaa;
  }
  &__input-last {
    margin-bottom: 40px;
  }
  &__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-bottom: 34px;
    color: var(--white-color);
    font-family: "Proxima Nova";
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 30px !important;
    @include list-style;
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      color: var(--white-color);
      font-family: "Proxima Nova";
    }
  }
  &__input-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1px solid #aaaaaa;
    background: #4e4e4e !important;
  }
  &__right {
    width: 100%;
    padding: 40px 60px;
    padding-bottom: 0px;
    max-width: 490px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    background: rgba(83, 83, 83, 0.1);
    box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  }
  &__right-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--white-color);
    font-family: "Proxima Nova";
  }
  &__right-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__right-item {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    flex-direction: column;
  }
  &__right-img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__right-name {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: var(--white-color);
    font-family: "Proxima Nova";
  }

  @media screen and (max-width: 1220px) {
    &__title {
      font-size: 24px;
    }
    &__input {
      max-width: 400px;
    }
    &__text {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1090px) {
    &__title {
      font-size: 34px;
    }
    &__input {
      max-width: 500px;
    }
    &__text {
      font-size: 24px;
    }
    &__inner {
      flex-direction: column;
    }
    &__left {
      max-width: 100%;
    }
    &__right {
      max-width: 100%;
    }
  }
  @media screen and (max-width: 938px) {
    &__right-item {
      width: 50%;
    }
  }
  @media screen and (max-width: 684px) {
    &__title {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
    }

    &__text {
      font-size: 20px;
    }
    &__list {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
